.font-link {
  font-family: montserrat;
}

.next-pay {
  position: relative;
  display: flex;
  justify-content: end;
  /* top: 0;
  bottom: 0;
  padding: auto; */
}

.next-payText {
  font-weight: 15px;
}
