section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  flex-direction: column;
}

.total-loans,
.logo1 {
  background-color: rgb(199, 33, 33);
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
}
section .total-repaid,
.logo2 {
  background-color: rgb(88, 221, 26);
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
}
.loan-balance,
.logo3 {
  background-color: rgb(188, 125, 201);
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
}
section .total-loans,
.content h5 {
  font-size: 15px;
}
section,
.total-loans,
.total-repaid,
.loan-balance {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 15px;
}

.total-loans {
  background: rgb(156, 73, 87);
  background: linear-gradient(
    90deg,
    rgba(156, 73, 87, 1) 0%,
    rgba(187, 52, 82, 1) 55%,
    rgba(226, 116, 79, 1) 100%
  );
}
.total-repaid {
  background: rgb(207, 226, 203);
  background: linear-gradient(
    90deg,
    rgba(207, 226, 203, 1) 0%,
    rgba(201, 210, 209, 1) 55%,
    rgba(158, 195, 193, 1) 100%
  );
}
.loan-balance {
  background: rgb(241, 220, 230);
  background: linear-gradient(
    90deg,
    rgba(241, 220, 230, 1) 0%,
    rgba(244, 224, 241, 1) 55%,
    rgba(215, 209, 218, 1) 100%
  );
}

.total2 h6,
h5 {
  color: black;
}
.total3 h6,
h5 {
  color: black;
}

.eye {
  margin-top: -50px;
  color: black;
}

section .currency {
  font-size: 13px;
}

.loan-details {
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 30px;
  padding: 25px 25px;
  /* margin: 25px; */
}

.card-details,
.card-amount {
  color: #ffff;
  background: rgb(233, 193, 72);
  background: linear-gradient(
    90deg,
    rgba(233, 193, 72, 1) 0%,
    rgba(205, 197, 172, 1) 34%,
    rgba(117, 95, 28, 1) 100%
  );
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
}

.loan-history {
  color: #ffff;
}
.loan-history h6 {
  color: #ffff;
  font-size: 10px;
  font-weight: 200;
}

.card-amount {
  margin: 15px;
}
.card-rates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px;
  padding: 5px;
}
.status {
  display: flex;
  justify-content: end;
}
.text {
  font-weight: normal;
  font-size: 15px;
  padding: 10px;
  color: #ffff;
}

.btn-status {
  font-size: 15px;
  border-radius: 5px;
  border-width: 0;
  background-color: rgb(223, 139, 70);
  color: #ffff;
  font-weight: 200;
  padding: 5px;
}
.interest-rate,
.first-payment,
.loan-duration {
  padding: auto;
  margin: 15px;
}

.payment-details p {
  font-size: 15px;
  color: #22e810;
}
.payment-details h6 {
  font-size: 15px;
}
.btn-success {
  background-color: #22e810;
  color: #ffff;
  border-radius: 5px;
  border-width: 0;
  font-size: 15px;
}
