section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* section,
.color1 {
  background-color: #eef4ff;
}
section,
.color2 {
  background-color: #fdf4f5;
}
section,
.color3 {
  background-color: #fffce4;
} */

/* section,
StatsCard {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  color: black;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  transition: 0.5s ease-in-out;
} */

section,
.total-loans,
.total-repaid,
.loan-balance {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.total-loans,
.logo {
  background-color: rgb(199, 33, 33);
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
  /* border: 1px solid black; */
  /* justify-content: center; */
  /* align-items: center; */
}
section .total-repaid,
.logo {
  background-color: rgb(88, 221, 26);
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
}
.loan-balance,
.logo {
  background-color: rgb(188, 125, 201);
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
}
section .total-loans,
.content h5 {
  font-size: 15px;
}
section,
.total-loans,
.total-repaid,
.loan-balance {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 20px;
}

.total-loans {
  background: rgb(156, 73, 87);
  background: linear-gradient(
    90deg,
    rgba(156, 73, 87, 1) 0%,
    rgba(187, 52, 82, 1) 55%,
    rgba(226, 116, 79, 1) 100%
  );
}
.total-repaid {
  background: rgb(207, 226, 203);
  background: linear-gradient(
    90deg,
    rgba(207, 226, 203, 1) 0%,
    rgba(201, 210, 209, 1) 55%,
    rgba(158, 195, 193, 1) 100%
  );
}
.loan-balance {
  background: rgb(241, 220, 230);
  background: linear-gradient(
    90deg,
    rgba(241, 220, 230, 1) 0%,
    rgba(244, 224, 241, 1) 55%,
    rgba(215, 209, 218, 1) 100%
  );
}

section .eye {
  position: relative;
  top: 0;
  margin-top: -50px;
  size: 5px;
}

section .currency {
  font-size: 15px;
}

.card-details,
.card-amount {
  background-color: #f2e74d;
}

.card-amount {
  margin: 15px;
}
.card-rates {
  display: flex;
  position: fixed;
  margin: 2px;
  padding: 5px;
}

.interest-rate,
.first-payment,
.loan-duration {
  padding: auto;
  margin: 15px;
}

.loan-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.row .repayment-schedule h3 {
  font-size: 20px;
}
.row .repayment-schedule {
  font-size: 15px;
}
.loan-activities {
  display: flex;
  position: fixed;
}

/* .loan-activities, */
.payment-details h4 {
  font-size: 15px;
  color: #22e810;
}
.payment-details h6 {
  font-size: 15px;
}

/* .payment-status,
.btn-success {
  justify-content: end;
} */
